.row{
    display: flex;
    flex-direction: row;
    margin: 3rem 2rem;
}
h1{
    margin-top: -3rem;
    text-align: center;
    font-size: 2rem;
    color: azure;

}
mat-card{
    width: 18rem;
}

img,mat-card-content,mat-card-title{
    margin:5px 3rem;
    
}