
<!-- -----------------------Admin Landing ------------------------------------------------------ -->

<!-- <app-navbar-master></app-navbar-master> -->
<mat-sidenav-container>
    <mat-sidenav #drawer mode="side" opened class="sidenav">
      <mat-nav-list class="links">
      <a mat-list-item (click)="openDialog()" ><span class="material-icons me-2">bookmark_add</span>Add Books</a>
      <a mat-list-item matBadgeColor="warn" [routerLink]="['viewrequest']" routerLinkActive="router-link-active" ><mat-icon class="material-symbols-rounded me-2" >book</mat-icon>User Requests
        </a>
        <a mat-list-item [routerLink]="['adminlistbooks']">
          <span class="material-symbols-rounded me-2">library_books</span>List of Books</a>

      <a mat-list-item [routerLink]="['listofUsers']">
            <span class="material-symbols-rounded me-2">library_books</span>List of Users</a>

      <a mat-list-item [routerLink]="['requesthistory']"
        ><span class="material-symbols-rounded me-2">library_books</span>Request History</a> 

      <a mat-list-item  matTooltip="Logout" [routerLink]="['/login']" routerLinkActive="router-link-active"><span class="material-symbols-outlined me-2" > logout</span>Logout </a>
      </mat-nav-list> 

    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
      
          <button type="button" mat-icon-button (click)="drawer.toggle()" color="blue">
            <mat-icon>menu</mat-icon>
            </button>

        <div class="main">
          <router-outlet></router-outlet>
        </div>
      </div>
   
      
    </mat-sidenav-content>  
  </mat-sidenav-container>


  
