
 <h1>Admin Panel Books</h1>
<div class="search">
<input type="text" style="width: 50%; height: 2rem; " [(ngModel)]="term" placeholder="Search by book name"/>
</div>

<mat-card-content class="row">
  <mat-card class="card" *ngFor="let item of users | filter: term"
    class="col-md-2" fxLayoutGap="4px" style="margin: 1rem 1rem">
    <mat-card-title>{{ item.BookName }}</mat-card-title>

    <img mat-card-lg-image src="{{ item.image }}" />
    <mat-card-content>
      {{ item.Author }}
    </mat-card-content>

    <button mat-button>
      <span matTooltip="Edit" class="material-symbols-outlined"  (click)="opendialog(item.id)">edit</span>
    </button>
    <button mat-button (click)="deleteit(item.id)">
      <span matTooltip="Delete" class="material-symbols-outlined">delete</span>
    </button>
  </mat-card>
</mat-card-content>
