


<div class="login">
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-icon  >person</mat-icon>
        <mat-card-title >Registration</mat-card-title>
      </mat-card-header>
     
      <form class="example-form" [formGroup]="signup" >       
        <mat-card-content>
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your name" formControlName="Name">
            <mat-error>
              <span *ngIf="!signup.get('Name')?.valid && signup.get('Name')?.touched">User name Required</span>
          </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Email ID " type="email" formControlName="Email">

            <mat-error>
              <span *ngIf="!signup.get('Email')?.valid && signup.get('Email')?.touched">Email Required</span>
          </mat-error>
          
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Mobile No" type="text" formControlName="MobileNO">
       
            <mat-error>
              <span *ngIf="!signup.get('MobileNO')?.valid && signup.get('MobileNO')?.touched">Date Required</span>
          </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="create password" type="password" formControlName="password">
            <mat-error>
              <span *ngIf="!signup.get('password')?.valid && signup.get('password')?.touched">Password Required</span>
          </mat-error>
          </mat-form-field>
          
        
         <div>
          <mat-label>Gender </mat-label>

         </div>
             
              <mat-radio-group aria-label="select an option" formControlName="gender">
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
              </mat-radio-group>
           
         
        </mat-card-content>
      
        <button mat-stroked-button color="yarn" [disabled]="!signup.valid" class="btn-block" (click)="register()">Register</button>
      </form> 
    </mat-card>
    <router-outlet></router-outlet>
  </div>
  
  </div>