


<div class="login">
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-icon  >person</mat-icon>
        <mat-card-title >Registration</mat-card-title>
      </mat-card-header>
     
      <form class="example-form" [formGroup]="signup" >       
        <mat-card-content>
         
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your name" formControlName="Name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" type="email" formControlName="Email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Mobile No" type="text" formControlName="MobileNO">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="create password" type="password" formControlName="password">
          </mat-form-field>
          
        
         <div>
          <mat-label>Gender </mat-label>

         </div>
             
              <mat-radio-group aria-label="select an option" formControlName="gender">
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
              </mat-radio-group>
           
         
        </mat-card-content>
      
        <button mat-stroked-button color="yarn" class="btn-block" (click)="register()">Register</button>
      </form> 
    </mat-card>
    <router-outlet></router-outlet>
  </div>
  
  </div>