
<!-- <div class="loggedin">
<div class="background">
  <mat-toolbar class="mat-elevation-z4">
   
      <button type="button" mat-icon-button (click)="drawer.toggle()" color="">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="example-spacer"></span>
      
  
     <div>Welcome  <span style="color: orange ;">{{name}}</span> </div>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" >
        <mat-icon matTooltip="Logout" routerLink="/home"><span class="material-symbols-outlined"  >
            logout
            </span></mat-icon>
      </button>
      
    
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item [routerLink]="['/viewrequest']" routerLinkActive="router-link-active" >Requests</button>
   
  </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="example-container">
      <mat-sidenav #drawer mode="side" closed  class="sidenav" >
        <mat-nav-list class="links">
          <a mat-list-item  [routerLink]="['/booklist']" routerLinkActive="router-link-active"  >Issued Books<span class="material-icons">library_books</span></a>
          <a mat-list-item (click)="openDialog()">Request for book</a>
         
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    </div> -->
<!-- -----------------------User Landing ------------------------------------------------------ -->

<mat-sidenav-container>

  <mat-sidenav #drawer mode="side" opened class="sidenav">
    <mat-nav-list class="links">
      <a mat-list-item  [routerLink]="['/booklist']" routerLinkActive="router-link-active">Issued Books<span class="material-icons">library_books</span></a>
      <a mat-list-item (click)="openDialog()">Request for book</a>
      <a mat-list-item  [routerLink]="['/booklist']" routerLinkActive="router-link-active">Available Books<span class="material-icons">library_books</span></a>
     
    </mat-nav-list>
  </mat-sidenav>





  <mat-sidenav-content>
    <div class="content">
      <div class="toolbar">
        <mat-toolbar color="primary" class="mat-elevation-z4">
          <button type="button" mat-icon-button (click)="drawer.toggle()" color="">
            <mat-icon>menu</mat-icon>
            </button>

             <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <span class="material-symbols-sharp" [routerLink]="['/adminlanding']" routerLinkActive="router-link-active" >supervisor_account</span>    
            </button>    
            <span>user Panel</span>
            <span class="example-spacer"></span> 
           
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" >
              <mat-icon routerLink="/home">
                <span matTooltip="Logout" class="material-symbols-outlined">logout</span>
              </mat-icon>
            </button>
      
            <mat-menu #afterMenu="matMenu" xPosition="after">
              <button mat-menu-item [routerLink]="['/viewrequest']" routerLinkActive="router-link-active" >Requests</button>  
            </mat-menu>
            
            </mat-toolbar>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
    
  </mat-sidenav-content>
  
</mat-sidenav-container>
<div class="card">
  <mat-card-content class="row">
    <mat-card
    class="column"
    *ngFor="let item of users | filter: term"
    class="col-md-2" fxLayoutGap="5px" style="margin-left: 5px; margin-bottom:25px ">
    <mat-card-title>{{ item.BookName }}</mat-card-title>

    <img mat-card-lg-image src="{{ item.image }}" />
    <mat-card-content>
      {{ item.Author }}
    </mat-card-content>


   
  </mat-card>

  </mat-card-content>
  <div class="main"> 
  <router-outlet></router-outlet>
</div>
</div>



 



   
  

