
<!-- <div class="loggedin">
<div class="background">
  <mat-toolbar class="mat-elevation-z4">
   
      <button type="button" mat-icon-button (click)="drawer.toggle()" color="">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="example-spacer"></span>
      
  
     <div>Welcome  <span style="color: orange ;">{{name}}</span> </div>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" >
        <mat-icon matTooltip="Logout" routerLink="/home"><span class="material-symbols-outlined"  >
            logout
            </span></mat-icon>
      </button>
      
    
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item [routerLink]="['/viewrequest']" routerLinkActive="router-link-active" >Requests</button>
   
  </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="example-container">
      <mat-sidenav #drawer mode="side" closed  class="sidenav" >
        <mat-nav-list class="links">
          <a mat-list-item  [routerLink]="['/booklist']" routerLinkActive="router-link-active"  >Issued Books<span class="material-icons">library_books</span></a>
          <a mat-list-item (click)="openDialog()">Request for book</a>
         
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    </div> -->
<!-- -----------------------User Landing ------------------------------------------------------ -->

<!-- <app-navbar-master></app-navbar-master> -->

<mat-sidenav-container>
  <mat-sidenav #drawer mode="side" opened class="sidenav">
    <mat-nav-list class="links">
      <a mat-list-item  [routerLink]="['booklist']" routerLinkActive="router-link-active">Issued Books<span class="material-icons">library_books</span></a>
      <a mat-list-item (click)="openDialog()">Request for book</a>
      <a mat-list-item  [routerLink]="['availablebooks']" routerLinkActive="router-link-active">Available Books<span class="material-icons">library_books</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <div class="toolbar">

        <button type="button" mat-icon-button (click)="drawer.toggle()" color="">
          <mat-icon>menu</mat-icon>
          </button>
        
        <!-- <mat-toolbar color="primary" class="mat-elevation-z4">
          <button type="button" mat-icon-button (click)="drawer.toggle()" color="">
            <mat-icon>menu</mat-icon>
            </button>

   
            <span>Welcome  <span style="color: orange ;">{{name}}</span> </span>
            <span class="example-spacer"></span> 
           
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" >
              <mat-icon routerLink="/login">
                <span matTooltip="Logout" class="material-symbols-outlined">logout</span>
              </mat-icon>
            </button>
      
            <mat-menu #afterMenu="matMenu" xPosition="after">
              <button mat-menu-item [routerLink]="['/viewrequest']" routerLinkActive="router-link-active" >Requests</button>  
            </mat-menu>
   
           
            </mat-toolbar> -->
           
      </div>

      
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
    
  </mat-sidenav-content>  
</mat-sidenav-container>
