.row{
display: flex;
margin-left: 1rem;

}

h1{
    text-align: center;
    color: azure;
    font-size: 3vw;
    margin-top: -2rem;
}
mat-card{
    width: 14rem;
}

.form-outline{

    margin-right: 40rem;
    } 


/* AG-GRID */

table {
    width: 100%;
  }
  h1{
    text-align: center;
    font-family: sans-serif;
    color: rgb(249, 245, 245);
  }
  td{
    font-family: cursive;
  }
  .historyTable{
    margin: 0rem 3rem;
    text-align: center;
  }

  .head{
    text-align: center;
  
    font-size:larger;
    font-weight: bolder;
  }
h1{
  font-size: 3rem;
  color: aqua;
}





