.row{
display: flex;
margin-left: 1rem;
/* justify-content:space-between; */
}

h1{
    text-align: center;
    color: azure;
    font-size: 3vw;
    margin-top: -2rem;
}
mat-card{
    width: 14rem;
}

.form-outline{

    margin-right: 40rem;
    }
