    <h1>Number of Books</h1>
    <div class="form-outline ">
      <input style="margin: 2rem;"
        type="text"
        [(ngModel)]="term"
        placeholder="Search by book name" class="form-control"/>
    </div>
    <div class="rows">
   
      <div class="input-group" class="searchbox">

        <mat-card-content class="row">
          <mat-card
            class="column"
            *ngFor="let item of users | filter: term"
            class="col-md-2" fxLayoutGap="5px" style="margin-left: 5px; margin-bottom:25px; margin-right: 2rem; ">
            <mat-card-title>{{ item.BookName }}</mat-card-title>
    
            <img mat-card-lg-image src="{{ item.image }}" />
            <mat-card-content>
              {{ item.Author }}
              <p> {{item.Date}}</p>
              <p> {{tomorrow | date}}</p>
             
            </mat-card-content>
    
    
          
          </mat-card>
        </mat-card-content>
      </div>
    </div>
    
    
    
    
    
  

    
  
  
  
  
  
  
  
  

  

  
  
  
